* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
  --primary-color: #8B2E1F;  
  --secondary-color: #1F3B4D; 
  --accent1-color: #F4B400;   
  --accent2-color: #F1E7D0;   
  --heading-font:  Georgia, serif;
  --body-font: Arial, Helvetica, sans-serif;
}   

header {
  display: grid;
  grid-template-columns: 150px auto;
  align-items: center;
  background-color: var(--primary-color);
}

.logo {
     max-height: 80px;
  }

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  font-weight: bold;
  padding: 1rem;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 30px;
    height: 30px;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    opacity: 0.7;
}

.hero h1 {
  position: absolute;
  top: 6px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgba(230, 172, 39, 0.8);
  padding: 2px;
  color: var(--secondary-color);
}

.hero article {
  position: absolute;
  bottom: 5%; 
  left: 5%; 
  width: 80%; 
  padding: 10px;
  background-color: var(--secondary-color);
  opacity: 0.9;
  color: #ffffff;
}

.hero article img {
    float: right;
    width: 90px;
}

.history h2 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.history {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.history img,
.history p {
  display: inline-block;
  vertical-align: middle;
}

.history img {
  max-width: 300px;
  height: auto;
  margin-right: 20px;
}

.history p {
  max-width: 500px;
  text-align: left;
}

.history p,
.history img {
  display: inline-block;
}

.adventure-images {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns */
  gap: 15px;
  margin-top: 20px;
}

.adventure h2 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}


.adventure-images figure {
  text-align: center;
}

.adventure-images img {
  width: 100%;
  height: 200px; 
  object-fit: cover;  
  border-radius: 8px;
}

.adventure-images figcaption {
  margin-top: 8px;
  font-weight: bold;
}

footer {
  background-color: var(--primary-color);
  color: white;
  text-align: center;
  padding: 20px;
}

.socialmedia {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

.socialmedia img {
  width: 30px;
  height: 30px;
}

figcaption {
  font-family: var(--body-font);
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--secondary-color); 
  margin-top: 8px;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

